<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>

<body>
    <h1>Hi <%=name%></h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ipsum enim natus dicta saepe, repudiandae nam
        error rerum, nemo nisi dignissimos voluptatibus magnam ducimus aperiam reiciendis cum placeat est sapiente amet
        ut beatae necessitatibus ullam? Ex maxime quos voluptatem asperiores possimus quia nulla officia inventore?
        Nostrum impedit aliquam mollitia, ullam neque ab doloremque, expedita fugiat magnam quisquam aut perferendis,
        facilis aliquid maiores sapiente quam iusto soluta vitae quia officia eveniet omnis! Necessitatibus sit numquam
        ab quia sint quae enim, at dolorem eum dolorum perferendis odit tenetur commodi earum doloremque laborum dolore
        et hic impedit dolores eaque voluptates possimus? Optio, illum.</p>
</body>

</html>